@model IEnumerable<Scheduling_App.Models.Services>

@{
    ViewBag.Title = "Index Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Services</h2>

<p>
    @Html.ActionLink("Create New Service", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.service_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.service_details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>*@
        <!--<th></th>-->
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.service_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.service_details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
